.table th:nth-child(1) {
    width: 20%;
}

.table th:nth-child(2) {
    width: 50%;
}

.table th:nth-child(3),
.table th:nth-child(4),
.table th:nth-child(5) {
    width: 10%;
}

.table .form-group {
    margin: 0px;
}

.table th {
    text-align: center;
}

.container {
    margin-bottom: 20px;
    max-width: 1000px;
}

.table {
    margin: auto 0 0;
}

.table thead {
    background-color: #D3D3D3;
}

.table.header-green thead {
    background-color: #26b638;
}

.table .sub-row {
    background-color: #EAEAEA;
}

.table .sub-result {
    padding: 3px 12px;
}

.table:not(.table-description) td:nth-child(2),
.table:not(.table-description) td:nth-child(3),
.table:not(.table-description) td:nth-child(4),
.table:not(.table-description) td:nth-child(5) {
    text-align: center;
}

.form-control {
    height: 26px;
}

.table-description {
    margin-bottom: 30px;
}

.table .sub-column {
    text-align: right;
}

.table .grand-total-row {
    background-color: #FFFF99;
}

.form-auth, .register-form {
    width: 350px;
    margin: auto;
}

.auth-info {
    text-align: right;
}

header {
    height: 50px;
    background-color: #D3D3D3;
    margin-bottom: 30px;
    padding: 10px;
}

.profile-users-forms {
    text-align: center;
}

.profile-users-forms th {
    width: 33.3333333% !important;
}

#add-new-form {
    width: 100px;
    margin-top: 10px;
}

.profile-users-forms {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.table textarea {
    resize: vertical;
}

.with-table{
    padding: 0 !important;
}

.borderless, .borderless td, .borderless th {
    border: none !important;
}