.table th:nth-child(1) {
    width: 40%;
}

.table th:nth-child(2) {
    width: 30%;
}

.table th:nth-child(3),
.table th:nth-child(4),
.table th:nth-child(5) {
    width: 10%;
}

.table .form-group {
    margin: 0px;
}

.table th {
    text-align: center;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    max-width: 700px;
    margin: auto;
}

.table thead {
    background-color: #D3D3D3;
}

.table .sub-row {
    background-color: #EAEAEA;
}

.table .sub-result {
    padding: 3px 12px;
}

.table:not(.table-description) td:nth-child(2),
.table:not(.table-description) td:nth-child(3),
.table:not(.table-description) td:nth-child(4),
.table:not(.table-description) td:nth-child(5) {
    text-align: center;
}

.form-control {
    height: 26px;
}

.table-description {
    margin-bottom: 30px;
}

.category-1 div, .category-3-sub-row div{
    margin-bottom: 3px !important;
}

.table .sub-column{
    text-align: right;
}

.table .grand-total-row{
    background-color: #FFFF99;
}